<section>
  <div class="card">
    <div class=".blogpost-details">
      <a href="/blogpost/{{id}}">
        <header> {{title}} </header>
        <p>{{content}}</p>
        <p>{{user.username}} </p>
      </a>
    </div>
  </div>
</section>