
<div class="card">
    <header> {{blogPost.title}} </header>
    <div>{{blogPost.content}}</div>
    <div>{{user.username}} </div>
    <div>{{blogPost.date_created}}</div>
</div>
<div class="container">
<button class="btn btn-primary" type="submit"> Comment</button>
</div>

