
<div class="card">
    <div class=".blogpost-details">
    <header> {{blogPost.title}} </header>
    <p>{{blogPost.content}}</p>
    <p>{{user.username}} <p>
    <p>{{format_date blogPost.date_created}}</p>
    </div>
</div>
<div class="container">
<button class="btn btn-primary" type="submit">Comment</button>
</div>

{{!-- Try how to return the values of post , missing a href /comment on button above--}}
{{!-- {{#if viewComments}}
<span> TEST </span>
{{/if}} --}}
