{{#if loggedIn}}
<div>
    {{#each blogPosts as |blogpost|}}
    {{> blogpost_details}}
    {{/each}}
    <div class="button"> 
        <button class="btn btn-primary" type="submit"><a href="/blogpostform">Create Post</a></button>
    </div>
</div>
{{else}}
<div class="container">
<h3 class="page-title">Please log in to view your dashboard.</h3>
<div>
    <a href="/login">Login Here</a>
</div>
</div>
{{/if}}